vti_encoding:SR|utf8-nl
vti_author:SR|SALA4008\\Administrator
vti_modifiedby:SR|SALA4008\\Administrator
vti_timelastmodified:TR|16 Dec 2015 16:44:29 -0000
vti_timecreated:TR|16 Dec 2015 16:44:29 -0000
vti_cacheddtm:TX|16 Dec 2015 16:44:29 -0000
vti_filesize:IR|2559
vti_cachedlinkinfo:VX|S|layout.css S|../images/background.gif
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css NSUS|images/background.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
